<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='user.css')}}" />
    <title>Add avehicel</title>
</head>

<body>
    <h1>Hi {{member.first_name}}!!!</h1>
    <a href="/logout">Logout</a>
    <a href="/vehicle/new">Add vehicle</a>

    <h3>Vehicle list</h3>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">owner</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for vehicle in vehicles %}  <!--we are able to pull in the recipe variable creatvehicleed in the route-->

          <tr>
            <th scope="row">{{vehicle.model}}</th>
            <td>{{vehicle.year}}</td>
            <td>{{vehicle.owner.first_name}}</td>
            <td><a href="/vehicle/show/{{vehicle.id}}">View car</a>
                {% if vehicle.owner.id == member.id %}
                <a href="/vehicle/edit/{{vehicle.id}}">Edit</a>
                <a href="/vehicle/delete/{{vehicle.id}}">Delete</a>
                {% endif %}
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
</body>